# Virtual environments
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*
!.env.example

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
